<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">Made with love and bootstrap by dlan. Connect with me</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/david-lance-0276514b/">LinkedIn</a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/david6116">GitHub</a>
        </li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
