<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>dlan</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>
<div class="container">

    <h5>Hi! I'm David,</h5> <p>but people often just call me dlan.
I'm what you'd call a non-traditional background. I dropped out of college, spent many years in retail and call centers before I decided to quit all that and find my way doing what I loved as a kid, fiddling with tech.
So, in 2010, I quit my jobs and began studying Comptia's A+ and Network+ certs, got A+ certified, and then landed my first job at a tech company, Mailchimp.
Over the course of about 8 years there, I worked my way up from a non-techincal role all the way into a lead engineer role, leading a team of junior engineers dedicated to the monitoring, deployment, and configuration of internal services and hardware.
Then in 2019, I left Mailchimp when my boyfriend's job was moved New York City. I decided to take that time for some well deserve rest and consider what I want to be when I grow up.
I've taken a year of funemployement, did some traveling, and decided that while I want to be a manager of engineers some day, I wanted to get a bit more techincal first.
To that end, in 2020, I decided to take a coding bootcamp to level up my dev skills. Now, I'm in the market for something in the NYC area, something that can take my newly refined dev skills and pair them with my existing ops skills.</p>
<p>
Fun Fact:
    I've visited over 30 states, 15 countries, and 4 continents so far and I can't wait see more of the world. </p>
</div>
<%- include ('../partials/footer.ejs') %>
</body>
</html>