<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>dlan</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>

<div class="projects d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="arrivals mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2><a href="https://arrivalsboard.com/flight">Arrivals Board</a></h2>
            <p class="lead"><a href="https://github.com/david6116/arrivalsBoard">Code in GitHub</a></p>
            <p class="lead">A replica of the real world flights arrival board made for the virtual world</p>
        </div>
        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <a href="https://github.com/david6116/arrivalsBoard"><img src="../images/arrivals.png"></a>
        </div>
    </div>
    <div class="stats mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5"><a href="https://planestats.herokuapp.com/">Flight Stats</a></h2>
            <p class="lead"><a href="https://github.com/david6116/flightStats">Code in GitHub</a></p>
            <p class="lead">A fun dashboard of stats of in-air flights generated from the opensky api</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
            <a href="https://github.com/david6116/flightStats"><img src="../images/stats.png"></a>
        </div>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>