<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>dlan</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>

<div class="container">
    <main role="main" class="container">
        <img class="rounded mx-auto d-block" src="https://scontent.fnyc1-1.fna.fbcdn.net/v/t31.0-8/20017662_952352283316_9124815376660790061_o.jpg?_nc_cat=106&_nc_sid=174925&_nc_ohc=z99YmRjG8i4AX-NYr3_&_nc_ht=scontent.fnyc1-1.fna&oh=b80c2407874fa8083e523bf73555e0d7&oe=5F39ACF5">
        <h3>Highlights:</h3>
        <hr>
        <div class="row">
            <div class="col">
                <ul><h5>Dev:</h5></ul>
                <ul>JavaScript, jQuery, NodeJS, ExpressJS, EJS, Python, Django, PHP, HTML, CSS, Bootstrap</ul>
            </div>
            <div class="col">
                <ul><h5>Ops:</h5></ul>
                <ul>Linux, CentOS, Cisco IOS, Puppet, jenkins, KVM, PostgreSQL, MongoDB, Github, GCP, Zabbix, Datadog,
                    HPE Servers, Data Center
                </ul>
            </div>
            <div class="col">
                <ul><h5>Process:</h5></ul>
                <ul>Incident Response, Root Cause Analysis, Project Management, Kanban, Agile, Cross-Team Collaboration,
                    Internal Documentation, Migration Planning
                </ul>
            </div>
        </div>

        <div class="resume-main">
            <h2 class="pb-4 mb-4 font-italic border-bottom">
                Career Experience
            </h2>
            <h3 class="company-title">General Assembly</h3>
            <h5 class="company-meta">Software Engineering Immersive, Remote, NYC, 2020:</h5>
            <p>3-month, 420-hour full-time and full-stack program conducted in a remote setting, providing experience
                with front- & back-end programming languages, tools, and methodologies.</p>
            <hr>

            <h3 class="company-title">Mailchimp</h3>
            <h5 class="company-meta">Systems Engineer, Tech Lead of Infrastructure Operations, Remote, Seattle, 2017 to 2019:</h5>
            <p>Involved in the resolution of system, hardware, software, and infrastructure problems, along with
                providing systems
                engineering support for various IT projects.
                Inaugural TL of Infrastructure Operations (IO).
                Strongest advocate for creation of IO, Mailchimp’s first team tasked with the reliability of Mailchimp’s
                2000+
                physical servers, as well as many cloud instances.
                Established a technical roadmap for infrastructure operations in line with the strategy of the
                engineering
                organization.
                Forged relations with tech leads of teams across the engineering organization in order to foster
                collaboration.
                Hired, developed, led, and mentored a team of junior systems engineers through 1:1’s, team offsites,
                pair working,
                and reviews.
                Led strategic effort to reduce toil due to access granting/revocation procedures, removing 4-8h per week
                of toil
                from the access team
                Served on the board of governors for the Pride Employee Resource Group and assisted with ERG budgeting
                and outreach
                initiatives.
                Defined, implemented and coached others in technical project management methodologies and tactics. This
                included
                agile development practices like kanban, WIP limits, sprint planning, and team defined check-ins.</p>
            <hr>

            <h5 class="company-meta">Systems Engineer, Remote, Seattle, 2012 to 2019:</h5>
            <p>Integral participant in cross-functional troubleshooting and regular maintenance activities for infrastructure
            services.
            Managed and monitored OS installation, configuration, testing, and maintenance of bare metal servers and cloud
            instances.
            Participated in on-call rotation. Performed a variety of functions while handling outages, including incident
            command, mitigation, and analysis of root cause issues.
            Inaugural member of MailChimp’s Incident command and post mortem review team.
                Responded to incidents, technical issues, and actively discovered and remediated trends in need of attention.</p>
            <hr>

            <h5>Network Systems Engineer, Atlanta, 2015 to 2016:</h5>
            <p>Established and oversaw the operations of a disaster recovery data center in a colocation facility of
                300+ HP
                servers and 100s of Cisco network devices.
                Directed network problems testing and repair using tools like ping, netstat, ifconfig and traceroute.
                Cultivated a strong working relationship with company vendors, maintain accurate documentation,
                performed network
                and service maintenance, and formulated extensive expansion planning.
                Led the effort to build MailChimp’s Seattle presence, which was its first remote data center. This data
                center was
                designed for disaster recovery.</p>
            <hr>

            <h5>ADDITIONAL EXPERIENCE AT MAILCHIMP, ATLANTA, GEORGIA</h5>
            <ul>
                <li>JR. SYSTEMS ENGINEER, 2014</li>
                <li>Jr. NOC Engineer, 2014</li>
                <li>Tech Support Lead, 2013</li>
                <li>Compliance Officer, 2012</li>
            </ul>
        </div>
    </main>
</div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>