<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>dlan</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>

<div class="container">
    <div class="">
        <h3>Wanna Chat?</h3>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/david-lance-0276514b/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/david6116">GitHub</a>
            </li>
        </ul>
    </div>
</div>

<%- include ('../partials/footer.ejs') %>
</body>
</html>