<!doctype html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>dlan</title>
</head>
<body>
<%- include ('../partials/header.ejs') %>

social page

<%- include ('../partials/footer.ejs') %>
</body>
</html>